{{if comments!=None:}}
{{for comment in comments:}}
<tr class="comment">
    <td class="vote" id="{{=post.id}}_{{=comment.id}}">
        <table><tr>
        <td id="{{=post.id}}_{{=comment.id}}v">{{=comment.votes}}</td>
        <td>
            <image class="vicon_c" id="{{=post.id}}_{{=comment.id}}v_up" src="{{=path_to['static']}}/images/up{{if comment.v_up and session.user.id in comment.v_up:}}{{='_h'}}{{pass}}.png" onclick="submit('{{=path_to['default']}}/vote?up=1&comment={{=comment.id}}', function(votes){vote(votes, '{{=post.id}}_{{=comment.id}}')})" />
            <image class="vicon_c" id="{{=post.id}}_{{=comment.id}}v_dn" src="{{=path_to['static']}}/images/dn{{if comment.v_dn and session.user.id in comment.v_dn:}}{{='_h'}}{{pass}}.png" onclick="submit('{{=path_to['default']}}/vote?up=0&comment={{=comment.id}}', function(votes){vote(votes, '{{=post.id}}_{{=comment.id}}')})" />
        </td>
        </tr></table>
    </td>
    <td class="content">
        <span class="title">{{=comment.message}}</span>
        <a href="{{=path_to['default']}}/user/{{=comment.user}}">-{{=db.users[comment.user].name}}({{=db.users[comment.user].reputation}})</a>, {{=timedelta(comment.time)}} ago
    </td>
</tr>
{{pass}}
{{pass}}