{{extend "layout.html"}}
<style type="text/css">
    .show {
        height: 50%;
        width: 50%;
        position:absolute;
        bottom:20%;
        left:20%;
        line-height:161%;
        font-family:Georgia, Consolas;
        font-size:150%;
        overflow: auto;
        background-color:white;
        text-align: justify;
        padding: 5%;
        padding-top: 10%;
        padding-bottom: 0%;
        border:thick SteelBlue solid;
    }
</style>
<div class="show">
    <span title="We are in a very private beta.">Sorry, the party hasn't started yet. </span><br/>
    <!--Try going back <a href="/"> Home </a>. <br/>-->
    If you'd like to help us with the preperations, drop a comment at <a href="https://www.facebook.com/pages/The-Daily-Build/157229791059824">The-Daily-Build Page</a>.<br/>
</div>