{{extend "layout.html"}}
<style type="text/css">
    .post {
        width:100%;
        font-size:120%;
    }
</style>
<h3>Posts:</h3>
{{for post in posts:}}
<div class="post"><a href="{{=path_to['default']}}/get_post/{{=post.id}}">
    <span class="vote">{{=post.votes}}</span>
    <span class="title">{{=post.title}}</span>
    <span class="name">-{{=db.users[post.user].name}}</span>
    <span class="rep">({{=db.users[post.user].reputation}})</span>
</a></div>
{{pass}}
<span id="moar"></span>
<a href="JavaScript:load_moar()" id="m_moar" class="moar">Load More</a>
<script type="text/JavaScript">
    moar = 0;
    delta = parseInt({{=session.delta}});
    function load_moar() {
        m = document.getElementById("moar");
        return submit("{{=path_to['default']}}/moar?post=1&moar="+parseInt(moar+delta)+"&delta="+delta,
            function(s) {
                if(s!=="") {
                    m.innerHTML+=s;
                    moar+=delta;
                }
                else {
                    document.getElementById("m_moar").innerHTML="";
                }
            }
        );
    }
</script>