{{extend "layout.html"}}
<link rel="stylesheet" type="text/css" href="{{=settings.path_to.static}}/css/post_table.css" />
<h3>Top Posts:</h3>
<table id="moar" class="table">
{{include "default/main_delta.html"}}
</table>
{{if len(posts)>=settings.delta:}}
<a href="JavaScript:load_moar()" id="m_moar" class="moar">Load More</a>
{{pass}}
<img id="loading" src="{{=settings.path_to.static}}/images/loading.gif" style="visibility:hidden;height:15px;width:15px;" />
<script type="text/JavaScript">
    moar = 0;
    delta = parseInt({{=settings.delta}});
    function load_moar() {
        m = document.getElementById("moar");
        plen = m.children.length;
        return submit("{{=settings.path_to.default}}/moar?post=1&moar="+parseInt(moar+delta)+"&delta="+delta,
            function(s) {
                if(s!=="") {
                    m.innerHTML+=s;
                    nlen = m.children.length;
                    if(nlen-plen<delta) document.getElementById("m_moar").innerHTML="";
                    moar+=delta;
                }
                else {
                    mo = document.getElementById("m_moar");
                    mo.innerHTML="";
                    mo.parentNode.removeChild(mo);
                }
            },
        "GET", "", "loading");
    }
</script>