<!DOCTYPE HTML>
<html lang="en">
    <head>
        <title>Vote-Up</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="Content-Language" content="EN" />
        <meta name="keywords" content="vote up" />
        <style type="text/css">
            .new_post {
                float:right;
                border-style: solid;
                border-width: 2px;
                border-color: grey;
                margin-right:2px;
            }
            .post {
                width:100%;
                font-size:120%;
            }
            .cvote,.vote {
                float:right;
            }
        </style>
    </head>
    <body>
        <div class="new_post">
            <form action="{{=path_to['default']}}/new_response/{{=post.id}}" method="POST" onsubmit="JavaScript:post_form(this, function(s){window.location.reload()}); return false;">
                <p><textarea name="message"></textarea></p>
                <input type="submit" value="Create New Response" />
            </form>
        </div>
        <div class="post">
            <div class="vote">
                <image src="{{=path_to['static']}}/images/up.png" onclick="submit('{{=path_to['default']}}/vote?up=1&post={{=post.id}}', function(votes){document.getElementById('{{=post.id}}').innerHTML=votes})" />
                <p id="{{=post.id}}">{{=post.votes}}</p>
                <image src="{{=path_to['static']}}/images/dn.png" onclick="submit('{{=path_to['default']}}/vote?up=0&post={{=post.id}}', function(votes){document.getElementById('{{=post.id}}').innerHTML=votes})" />
            </div><br/>
            <h3>{{=post.title}}</h3>
            <p>{{=post.message}}</p>
            <hr/>
            {{if comments!=None:}}
            {{for comment in comments:}}
            <div class="comment">
            <div class="cvote">
                <image src="{{=path_to['static']}}/images/up.png" onclick="submit('{{=path_to['default']}}/vote?up=1&comment={{=comment.id}}', function(votes){document.getElementById('{{=post.id}}_{{=comment.id}}').innerHTML=votes})" />
                <p id="{{=post.id}}_{{=comment.id}}">{{=comment.votes}}</p>
                <image src="{{=path_to['static']}}/images/dn.png" onclick="submit('{{=path_to['default']}}/vote?up=0&comment={{=comment.id}}', function(votes){document.getElementById('{{=post.id}}_{{=comment.id}}').innerHTML=votes})" />
            </div><br/>
            <span class="title">{{=comment.message}}</span>
            </div>
            {{pass}}
            {{pass}}
            <form action="{{=path_to['default']}}/new_comment/{{=post.id}}" method="POST" onsubmit="JavaScript:post_form(this, function(s){window.location.reload()}); return false;">
                <input type="text" name="message" /><input type="submit" value="Add Comment"/>
            </form>
            <hr/>
        </div>
        {{if answers!=None:}}
        {{for answer in answers:}}
        <div class="answer">
            <div class="vote">
                <image src="{{=path_to['static']}}/images/up.png" onclick="submit('{{=path_to['default']}}/vote?up=1&answer={{=answer.id}}', function(votes){document.getElementById('r{{=answer.id}}').innerHTML=votes})" />
                <p id="r{{=answer.id}}">{{=answer.votes}}</p>
                <image src="{{=path_to['static']}}/images/dn.png" onclick="submit('{{=path_to['default']}}/vote?up=0&answer={{=answer.id}}', function(votes){document.getElementById('r{{=answer.id}}').innerHTML=votes})" />
            </div><br/>
            <p>{{=answer.message}}</p>
            <hr/>
            {{if comments_r[answer.id]:}}
            {{for comment in comments_r[answer.id]:}}
            <div class="comment">
            <div class="cvote">
                <image src="{{=path_to['static']}}/images/up.png" onclick="submit('{{=path_to['default']}}/vote?up=1&comment={{=comment.id}}', function(votes){document.getElementById('r{{=answer.id}}_{{=comment.id}}').innerHTML=votes})" />
                <p id="r{{=answer.id}}_{{=comment.id}}">{{=comment.votes}}</p>
                <image src="{{=path_to['static']}}/images/dn.png" onclick="submit('{{=path_to['default']}}/vote?up=0&comment={{=comment.id}}', function(votes){document.getElementById('r{{=answer.id}}_{{=comment.id}}').innerHTML=votes})" />
            </div><br/>
            <span class="title">{{=comment.message}}</span>
            </div>
            {{pass}}
            {{pass}}
            <form action="{{=path_to['default']}}/new_comment_r/{{=answer.id}}" method="POST" onsubmit="JavaScript:post_form(this, function(s){window.location.reload()}); return false;">
                <input type="text" name="message" /><input type="submit" value="Add Comment"/>
            </form>
            <hr/>
        </div>
        {{pass}}
        {{pass}}
        <script type="text/JavaScript">
            
        </script>
        <script type="text/JavaScript" src="{{=path_to['static']}}/js/XHRSubmit.js"></script>
    </body>
</html>