{{extend "layout.html"}}
<style type="text/css">
    .body {
        //width:60%;
        text-align:center;
    }
    .master {
        text-align:left;
        /*border-style: solid;
        border-width: 2px;
        border-color: grey;*/
    }
    .slave {
        text-align:left;
        margin-left:10%;
    }
    .vote {
        width:10px;
        text-align:center;
        vertical-align:top;
    }
    .content {
        padding-left:25px;
    }
    .post {
        font-size:135%;
    }
    .answer {
        font-size:127%;
    }
    .comment {
        height:20px;
        width:10px;
        font-size:110%;
    }
    .new_post {
        /*float:right;
        border-style: solid;
        border-width: 2px;
        border-color: navy;
        margin-right:2px;*/
    }
    .vicon {
        height: 30px;
        width: 30px;
    }
    .vicon_c {
        height: 15px;
        width: 15px;
    }
    .response {
        height:140px;
        width:80%;
        border-style: solid;
        border-width: 2px;
        border-color: #050542;
    }
</style>
<title>{{=post.title}} on {{=session.app_name}}</title>
<script type="text/JavaScript">document.title="{{=post.title}} on {{=session.app_name}}";</script>
<div class="body">
    <h2><a href="#{{=post.id}}">{{=post.title}}</a></h2><hr/>
    <table class="master" width="100%">
        <tr class="post">
            <td class="vote" id="{{=post.id}}">
                <image class="vicon" id="{{=post.id}}v_up" src="{{=path_to['static']}}/images/up{{if post.v_up and session.user.id in post.v_up:}}{{='_h'}}{{pass}}.png" onclick="submit('{{=path_to['default']}}/vote?up=1&post={{=post.id}}', function(votes){vote(votes, '{{=post.id}}')}, 'GET', '', 'loading')" />
                <p id="{{=post.id}}v">{{=post.votes}}</p>
                <image class="vicon" id="{{=post.id}}v_dn" src="{{=path_to['static']}}/images/dn{{if post.v_dn and session.user.id in post.v_dn:}}{{='_h'}}{{pass}}.png" onclick="submit('{{=path_to['default']}}/vote?up=0&post={{=post.id}}', function(votes){vote(votes, '{{=post.id}}')}, 'GET', '', 'loading')" />
            </td>
            <td class="content">
                <p>{{=XML(MARKMIN(post.message), sanitize=True)}}</p>
                <table width="100%">
                {{if post.user==session.user.id:}}<tr><td><a href="{{=path_to['default']}}/edit_post/{{=post.id}}">Edit</a></td></tr>{{pass}}
                <tr width="100%">
                <td width="50%">{{tags = post.tags}}
                {{if not tags:}}{{tags=[]}}<a href="{{=path_to['default']}}/tag/misc">UnCategorized</a>{{pass}}
                {{for tag in tags:}}
                    <a href="{{=path_to['default']}}/tag/{{=str(tag)}}">{{=db.tags(tag).name}}</a>
                {{pass}}</td>
                <td class="name">{{=timedelta(post.time)}} ago, <a href="{{=path_to['default']}}/user/{{=post.user}}">{{=db.users(post.user).name}}({{=db.users(post.user).reputation}})</a></td>
                </tr>
                </table>
            </td>
        </tr>
    </table><br/>
    <table id="comments" class="slave">
        {{include "default/comments_delta.html"}}
    </table>
    <form action="{{=path_to['default']}}/new_comment/{{=post.id}}" method="POST" onsubmit="JavaScript:post_form(this, function(s, p){comment(s, 'comments', p)}); return false;">
        <input type="text" name="message" title="Comment on this post" /><input type="submit" value="&#x23CE;" title="Add Comment"/>
    </form>
    {{if len(comments)>=session.delta:}}
    <a href="JavaScript:load_moar_comments()" id="m_comments" class="moar">Load More</a>
    {{pass}}
    <hr/>
    {{include "default/post_delta.html"}}
    <span id="master"></span>
    {{if len(answers)>=session.delta:}}
    <a href="JavaScript:load_moar_answers()" id="m_master" class="moar">Load More Answers</a>
    {{pass}}
    <div class="new_post">
        <form action="{{=path_to['default']}}/new_response/{{=post.id}}" method="POST" onsubmit="JavaScript:post_form(this, function(s){window.location='#r'+s; get_response_from_hash('#r'+s);}); return false;">
            <p><textarea class="response" name="message" title="Answer this Question"></textarea></p>
            <input type="submit" value="Answer This Question" />
        </form>
    </div>
</div>
<img id="loading" src="{{=path_to['static']}}/images/loading.gif" style="visibility:hidden;height:15px;width:15px;position:fixed;top:50%;left:50%;" />
<script type="text/JavaScript">
    user = "{{=session.user.name}}";
    rep = {{=session.user.reputation}};
    get_response_from_hash=function (hash) {
        hash = hash||window.location.hash;
        hash = hash.substring(1);
        if(hash && !document.getElementById(hash)) {
            if(hash[0]==="r" && hash.indexOf("_")<0) { //If it is an answer
                submit("{{=path_to['default']}}/get_by_id?answer="+hash.substring(1), function(s) { document.getElementById("master").innerHTML+=s; document.getElementById(hash).scrollIntoView(true); }, "GET", "", "loading");
            }
            else if(hash[0]==="r" && hash.indexOf("_")>=0) { //If it is a comment on an answer
                submit("{{=path_to['default']}}/get_by_id?comment_r="+hash.substring(hash.indexOf("_")+1), function(s) {}, "GET", "", "loading");
            }
        }
    };
    get_response_from_hash();
    function displayBox(message, obj) {
        alert(message);
    }
    function vote(response, id) {
        response = JSON.parse(response);
        if (response.hasOwnProperty("message") && response["message"]) {
            displayBox(response["message"], document.getElementById(id).children[1]);
        }
        document.getElementById(id+"v").innerHTML=response["votes"];
        if(response["status"]===1) {
            document.getElementById(id+"v_up").src = "{{=path_to['static']}}/images/up_h.png";
            document.getElementById(id+"v_dn").src = "{{=path_to['static']}}/images/dn.png";
        }
        if(response["status"]===-1) {
            document.getElementById(id+"v_up").src = "{{=path_to['static']}}/images/up.png";
            document.getElementById(id+"v_dn").src = "{{=path_to['static']}}/images/dn_h.png";
        }
        if(response["status"]===0) {
            document.getElementById(id+"v_up").src = "{{=path_to['static']}}/images/up.png";
            document.getElementById(id+"v_dn").src = "{{=path_to['static']}}/images/dn.png";
        }
    }
    function comment(response, id, params) {
        response = JSON.parse(response);
        table = document.getElementById(id);
        path_to_static = "{{=path_to['static']}}"
        path_to_default = "{{=path_to['default']}}"
        if (response.hasOwnProperty("message") && response["message"]) {
            displayBox(response["message"], table);
        }
        if(!response["status"]) return;
        window.submit("{{=path_to['default']}}/get_by_id?comment"+(id==="comments"?"":"_r")+"="+response["id"], function(s) { table.innerHTML+=s; }, "GET", "", "loading");
    }
    delta = parseInt({{=session.delta}});
    moar_c = 0;
    function load_moar_comments() {
        m = document.getElementById("comments");
        plen = m.children.length;
        return submit("{{=path_to['default']}}/moar?comment={{=post.id}}&moar="+(moar_c+delta)+"&delta="+delta,
            function(s) {
                if(s!=="") {
                    m.innerHTML+=s;
                    nlen = m.children.length;
                    if(nlen-plen<delta) document.getElementById("m_comments").innerHTML="";
                    moar_c+=delta;
                } 
                else {
                    mo = document.getElementById("m_comments");
                    mo.innerHTML="";
                    mo.parentNode.removeChild(mo);
                }
            }, "GET", "", "loading"
        );
    }
    moar_c_r = {};
    function load_moar_comments_r(id) {
        m = document.getElementById(id+"_comments");
        plen = m.children.length;
        moar = parseInt(moar_c_r[id+"_comments"])||0;
        return submit("{{=path_to['default']}}/moar?comment_r="+id+"&moar="+(moar+delta)+"&delta="+delta,
            function(s) {
                if(s!=="") {
                    m.innerHTML+=s;
                    nlen = m.children.length;
                    if(nlen-plen<delta) document.getElementById("m_"+id).innerHTML="";
                    moar_c_r[id+"_comments"]=moar+delta;
                }
                else {
                    mo = document.getElementById("m_"+id);
                    mo.innerHTML="";
                    mo.parentNode.removeChild(mo);
                }
            }, "GET", "", "loading"
        );
    }
    moar_a = 0;
    function load_moar_answers() {
        m = document.getElementById("master");
        plen = m.children.length;
        return submit("{{=path_to['default']}}/moar?answer={{=post.id}}&moar="+(moar_a+delta)+"&delta="+delta, 
            function(s) { 
                if(s!=="") {
                    m.innerHTML+=s;
                    nlen = m.children.length;
                    if(nlen-plen<delta) document.getElementById("m_master").innerHTML="";
                    moar_a+=delta;
                }
                else {
                    mo = document.getElementById("m_master");
                    mo.innerHTML="";
                    mo.parentNode.removeChild(mo);
                }
            }, "GET", "", "loading"
        );
    }
    function return_text(id, hf) {
        ans = document.getElementById(id);
        if(hf)  ans.innerHTML = window.original[id];
        else    submit("{{=path_to['default']}}/get_markmin?markmin="+encodeURIComponent(document.getElementById(id+"_text").value), function(ret) { ans.innerHTML = ret }, "GET", "", "loading");
        window.original[id] = null;
    }
    window.original = {};
    function edit_answer(id) {//id=content_r#
        ans = document.getElementById(id);
        aid = id.substring(9);
        submit("{{=path_to['default']}}/get_raw_by_id?answer="+aid,
            function(ret) {
                window.original[id] = ans.innerHTML;
                ans.innerHTML = '<form id="'+id+'_form" action="{{=path_to['default']}}/new_response/{{=post.id}}?edit='+aid+'" method="POST" onsubmit="JavaScript:post_form(this, function(s){return_text(\''+id+'\')}, function(p){});return false;"><p><textarea id="'+id+'_text" class="response" name="message" title="Edit this answer">'+JSON.parse(ret)["message"]+'</textarea></p><input type="submit" value="Commit Changes" /><input type="button" value="Cancel" onclick="return_text(\''+id+'\', true)" /></form>';
            }, "GET", "", "loading"
        );
    }
</script>