{{extend "layout.html"}}
<pre>
    Name:{{=user.name}}
    ID:{{=user.id}}
    Reputation:{{=user.reputation}}
    Member-since:{{=user.joined}}
</pre>
<pre>
    Posts:
    {{for post in db(db.posts.user==user.id).select():}}
        <a href="{{=session.path_to['default']}}/get_post/{{=post.id}}" >{{=post.title}} {{=post.votes}} </a>
    {{pass}}
</pre>
<pre>
    Answers:
    {{for var in db(db.answers.user==user.id).select():}}
        <a href="{{=session.path_to['default']}}/get_post/{{=var.post.id}}#r{{=var.id}}" >{{=var.post.title}} {{=var.votes}} </a>
    {{pass}}
</pre>