{{extend "layout.html"}}
<title>{{=user.name}} on Vote up!</title>
<script type="text/JavaScript">document.title="{{=user.name}} on Vote up!";</script>
<pre>
    Name:{{=user.name}}
    ID:{{=user.id}}
    Reputation:{{=user.reputation}}
    Member-since:{{=user.joined}}
</pre>
<pre>
    Posts:
    {{for post in db(db.posts.user==user.id).select():}}
        <a href="{{=session.path_to['default']}}/get_post/{{=post.id}}" title="{{=post.message[:session.title_length]}}{{if len(post.message)>session.title_length:}}...{{pass}}" >{{=post.title}} {{=post.votes}} </a>
    {{pass}}
</pre>
<pre>
    Answers:
    {{for var in db(db.answers.user==user.id).select():}}
        <a href="{{=session.path_to['default']}}/get_post/{{=var.post.id}}#r{{=var.id}}" title="{{=var.message[:session.title_length]}}{{if len(var.message)>session.title_length:}}...{{pass}}" >{{=var.post.title}} {{=var.votes}} </a>
    {{pass}}
</pre>