{{extend "layout.html"}}
<title>{{=tag.name}} on Vote up!</title>
<script type="text/JavaScript">document.title="{{=tag.name}} on Vote up!";</script>
<h2>{{=tag.name}}</h2>
<p>{{=tag.desc}}</p>
{{if db.users(tag.user):}}<a href="{{=session.path_to['default']}}/user/{{=tag.user}}">{{=db.users(tag.user).name}}</a>{{pass}}
<p>{{=tag.time}}</p>
<hr width="50%"/>
<link rel="stylesheet" type="text/css" href="{{=session.path_to['static']}}/css/post_table.css" />
<h4>Posts tagged {{=tag.name}}:</h4>
<table id="moar" class="table">
{{include "default/main_delta.html"}}
</table>
{{if len(posts)>=session.delta:}}
<a href="JavaScript:load_moar()" id="m_moar" class="moar">Load More</a>
{{pass}}
<script type="text/JavaScript">
    moar = 0;
    delta = parseInt({{=session.delta}});
    function load_moar() {
        m = document.getElementById("moar");
        plen = m.children.length;
        return submit("{{=path_to['default']}}/moar?tag="+{{=tag.id}}+"&moar="+parseInt(moar+delta)+"&delta="+delta,
            function(s) {
                if(s!=="") {
                    m.innerHTML+=s;
                    nlen = m.children.length;
                    if(nlen-plen<delta) document.getElementById("m_moar").innerHTML="";
                    moar+=delta;
                }
                else {
                    document.getElementById("m_moar").innerHTML="";
                }
            }
        );
    }
</script>